*{
    margin: 0px;
    padding: 0px;
}

body { 
    font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; 
}

.clearfix{
    clear: both;
}

#university-logo {
    float: left;
    width: 50%;
}

#document-ref {
    float: left;
    width: calc(50% - 40px);
    padding: 20px;
    text-align: right;
}

h1 {
    text-align: center;
}

#document-intro {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

hr {
    box-shadow: 2px 2px 5px #999;
}

#visualization {
    padding: 15px;
}

#map {
    float: left;
    margin: 5px; 
    width: calc(100% - 140px); 
    height: 700px;
}

#map-controls {
    float: left;
    padding-right: 5px; 
    width: 120px; 
    text-align: right;
}

.data-selector {
    padding: 2px;
}

.form-criteria {
    display: flex; 
    flex-flow: column;
}

#references {
    padding: 15px;
}