*{
    margin: 0px;
    padding: 0px;
}

body { 
    font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; 
}

.clearfix{
    clear: both;
}

#university-logo {
    float: left;
    width: 50%;
}

#document-ref {
    float: left;
    width: calc(50% - 40px);
    padding: 20px;
    text-align: right;
}

h1 {
    text-align: center;
}

#web-title {
margin-left: 10px;
margin-right: 10px;
margin-bottom: 15px;
}

hr {
    box-shadow: 2px 2px 5px #999;
}

#visualization {
    margin: 15px;
    width: 100%;
}

#visualization-title {
    width: calc(100% - 30px);
}

#map {
    float: left;
    width: calc(100% - 170px); 
    height: 500px;
}

#map-controls {
    float: left;
    padding-left: 10px;
    position: relative;
    width: 120px; 
    height: 500px;
    text-align: right;
}

#legend {
    position: absolute;
    top:0;
    padding:5px;
    border-radius: 5px;
    border: 2px solid grey;
    box-shadow: 2px 2px 5px #999;
    width: calc(100% - 10px);

}

#filters {
    position: absolute;
    bottom:0;
    padding:5px;
    border-radius: 5px;
    border: 2px solid grey;
    box-shadow: 2px 2px 5px #999;
    width: calc(100% - 10px);
}

#legend-box {
    height: 100px;
    width: 100%;
    position: relative;
}

#legend-colors{
    float: right;
    height: 100%;
    width: 10px;
    background: linear-gradient(to top, slateblue, cyan, lawngreen, yellow, red);
}

#label-high {
    width: calc(100% - 20px);
    position: absolute;
    text-align: right;
    top: 0;
}

#label-low {
    width: calc(100% - 20px);
    position: absolute;
    text-align: right;
    bottom: 0;
}


.data-selector {
    padding: 2px;
}

.form-criteria {
    display: flex; 
    flex-flow: column;
}


#references {
    padding: 15px;
}